node_modules
dist
build
coverage
.next
.turbo
.cache
*.log
.DS_Store

# env files
.env
.env.*
!.env.example

# prisma
prisma/*.db
prisma/*.db-journal

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.example.json
.idea
